<section class="experience_skill">
  <div class="section_skill_title">
      <h2>Hard Skill & Soft Skills</h2>
        <!-- Button trigger modal -->
      <button  type="button" class="btn bg-light-50 " data-bs-toggle="modal" data-bs-target="#tecnoModal" >
            <img src="./assets/add_icon.png" alt="pen-solid">
          </button>
  </div>

<!-- Modal -->
<div
     class="modal fade"
     id="tecnoModal"
     aria-labelledby="tecnoModalLabel"
     aria-hidden="true"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="staticBackdropLabel"
     >




  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tecnoModalLabel">Agregar Tecnología</h5>
      </div>
      <div class="modal-body">
        <form
        class="add-form"
        (ngSubmit)="createTecno()"
        >
        <div class="form-control">
          <label for="text">Descripcion de Habilidades</label>
            <input
              type="text"
              name="descripcion_Habilidades"
              id="descripcionHabilidades"
              [(ngModel)] ="descripcion_Habilidades"
              class="form-control"
            />
        </div>

        <div class="form-control">
          <label for="text">Porcentaje de Habilidades</label>
            <input
              type="number"
              name="porcentajeHabilidades"
              id="porcentaje_Habilidades"
              [(ngModel)] ="porcentaje_Habilidades"
              class="form-control"
            />
        </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="createTecno()">
          Guardar
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="close()">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>

  <div *ngFor="let item of myTecnologia">
    <div class="skill" >
          <div class="skill_align">
              <p>{{item.descripcion_Habilidades}}</p>
          </div>
          <div>
            <button  type="button" class="btn bg-light-50 " data-bs-toggle="modal" data-bs-target="#tecnoUpModal" >
              <img src="./assets/edit-pen.png" alt="pen-solid" (click)="editTecno(item.id)">
            </button>
              <button class="btn bg-light-50 " (click)="deleteTecno(item.id)"><img src="./assets/del_icon.png" alt="pen-solid"></button>
          </div>

  </div>
  <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
               role="progressbar"
               aria-valuenow="0"
               aria-valuemin="0"
               aria-valuemax="100"
               [style.width.%]= 'item.porcentaje_Habilidades'
               >
            </div>
            <!-- [style.width.%]= 'item.porcentajeHabilidades' -->
            <!-- [ngStyle]="{'width': item.porcentajeHabilidades + '%'}" -->
         </div>
  </div>

<!-- Modal -->
<div class="modal fade"
id="tecnoUpModal"
tabindex="-1"
aria-labelledby="tecnoUpModalLabel"
aria-hidden="true"
data-bs-backdrop="static"
data-bs-keyboard="false"
aria-labelledby="staticBackdropLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tecnoUpModalLabel">Modificar Tecnología</h5>
      </div>
      <div class="modal-body">
        <form
        class="add-form"
        (ngSubmit)="updateTecno()"
        >
        <div class="form-control">
          <label for="text">Descripcion de Habilidades</label>
            <input
              type="text"
              name="descripcion_Habilidades"
              id="descripcionHabilidades"
              [(ngModel)] ="descripcion_Habilidades"
              class="form-control"
            />
        </div>

        <div class="form-control">
          <label for="text">Porcentaje de Habilidades</label>
            <input
              type="number"
              name="porcentaje_Habilidades"
              id="porcentajeHabilidades"
              [(ngModel)] ="porcentaje_Habilidades"
              class="form-control"
            />
        </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="updateTecno()">
          Guardar
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="close()">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>

</section>
