<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <div class="container-fluid">
          <div>
              <a class="navbar-brand text-light" href="#">Luis Zelarrayán</a>
          </div>
          <div class="d-flex justify-content-between">
                  <a href="#"><i class="fab fa-github fa-2x text-secondary p-1"></i></a>
                  <a href="#"><i class="fab fa-linkedin fa-2x text-secondary p-1"></i></a>
                  <a href="#"><i class="fab fa-whatsapp-square fa-2x text-secondary p-1"></i></a>
          </div>
      </div>
  </nav>

</header>
