.experience_education{
  /* display:flex; */
  /* justify-content: space-between; */
  height: auto;
  width: 98%;
  margin: 20px auto;
  border: 1px solid black;
  padding: 5px 0 0 auto;
  border-radius: 25px;
}
.section_experience_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left:20px;
  margin-right:20px;
}
.section_experience_title h2{
  font-weight: 600;
  padding-top: 15px;
}

/*add card*/
.section_experience_description_card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 20px;
}
.section_experience_description_details{
  display: flex;
  flex-direction: row;
}
.section_experience_description_details__img img{
  max-width: 80px;
  max-height: 80px;
  margin: 0 5px 0 20px;
  text-align: center;
}

.section_education_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left:20px;
  margin-right:20px;
}
.section_education_title h2{
  font-weight: 600;
}
