<section class="experience_education">
  <div class="section_experience_title">
      <h2>Experiencia</h2>
          <!-- <button class="btn bg-light-50 " (click)="createNewExperiencia()"><img src="./assets/add_icon.png" alt="pen-solid"></button> -->
   <!-- Button trigger modal -->
  <button type="button" class="btn btn bg-light-50" data-bs-toggle="modal"
  data-bs-target="#createExperience">
  <img src="./assets/add_icon.png" alt="pen-solid">
  </button>

  </div>

<!-- Modal Crear Experiencia -->
<div class="modal fade" id="createExperience"
tabindex="-1"
aria-labelledby="exampleModalLabel3"
aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel3">Agregar Experiencia</h5>
      </div>
      <div class="modal-body" >

        <!-- cuerpo del modal con el formulario -->
        <form
class="add-form"
(ngSubmit)="createNewExperiencia()"
>
  <div class="form-control">
   <label for="text">Descripción del Trabajo</label>
   <input
      type="text"
      name="descripcion_Trabajo"
      id="descripcionTrabajo"
      placeholder="Ingrese una descripción del trabajo"
      class="form-control"
      [(ngModel)] = "descripcion_Trabajo"
      />
  </div>

  <div class="form-control">
    <label for="text">Nombre de la Empresa</label>
    <input
       type="text"
       name="nombre_Empresa"
       id="nombreEmpresa"
       placeholder="Ingrese el nombre de la empresa"
       class="form-control"
       [(ngModel)] = "nombre_Empresa"
       />
   </div>

   <div class="form-control">
    <label for="text">Tipo de Jornada</label>
    <input
       type="text"
       name="tipo_Jornada"
       id="tipoJornada"
       placeholder="Ingrese el tipo de Jornada"
       class="form-control"
       [(ngModel)] = "tipo_Jornada"
       />
   </div>

   <div class="form-control">
    <label for="text">Fecha de Ingreso</label>
    <input
       type="date"
       name="fecha_Entrada"
       id="fechaEntrada"
       placeholder="Ingrese fecha de Ingreso"
       class="form-control"
       [(ngModel)] = "fecha_Entrada"
       />
   </div>

   <div class="form-control">
    <label for="text">Fecha de Egreso</label>
    <input
       type="date"
       name="fecha_Salida"
       id="fechaSalida"
       placeholder="Ingrese fecha de Egreso"
       class="form-control"
       [(ngModel)] = "fecha_Salida"
       />
   </div>

   <div class="form-control">
    <label for="text">Localidad</label>
    <input
       type="text"
       name="localidad"
       id="localidad"
       placeholder="Ingrese localidad de la Empresa"
       class="form-control"
       [(ngModel)] = "localidad"
       />
   </div>

   <div class="form-control">
    <label for="text">Pais</label>
    <input
       type="text"
       name="pais"
       id="pais"
      placeholder="Ingrese Pais de la Empresa"
       class="form-control"
       [(ngModel)] = "pais"
       />
   </div>

   <div class="form-control">
    <label for="text">Subir Imagen</label>
    <input
       type="text"
       name="imagen_De_Empresa"
       id="imagenDeEmpresa"
       placeholder="Ingrese url de Imagen de la Empresa"
       class="form-control"
       [(ngModel)] = "imagen_De_Empresa"
       />
   </div>
</form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="createNewExperiencia()" data-bs-dismiss="modal" aria-label="Close">
          Guardar
       </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Crear Experiencia -->

<!-- modificar Experiencia -->
<div class="modal fade"
id="updateExperience"
tabindex="-1"
aria-labelledby="exampleModalLabel2"
aria-hidden="true"
data-bs-backdrop="static"
data-bs-keyboard="false"
aria-labelledby="staticBackdropLabel"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Modificar Experiencia</h5>
      </div>
      <div class="modal-body">

        <!-- cuerpo del modal con el formulario -->
        <form
        class="add-form"
        (ngSubmit)="updateExperiencia()"
        >
        <div class="form-control">
          <label for="text">Descripción del Trabajo</label>
        <input
      type="text"
      name="descripcion_Trabajo"
      id="descripcionTrabajo"
      placeholder="Ingrese una descripción del trabajo"
      [(ngModel)] = "descripcion_Trabajo"
      class="form-control"
      />
      </div>
     <div class="form-control">
    <label for="text">Nombre de la Empresa</label>
    <input
       type="text"
       name="nombre_Empresa"
       id="nombreEmpresa"
       placeholder="Ingrese el nombre de la empresa"
       class="form-control"
       [(ngModel)] = "nombre_Empresa"
       />
   </div>

   <div class="form-control">
    <label for="text">Tipo de Jornada</label>
    <input
       type="text"
       name="tipo_Jornada"
       id="tipoJornada"
       placeholder="Ingrese el tipo de Jornada"
       class="form-control"
       [(ngModel)] = "tipo_Jornada"
       />
   </div>

   <div class="form-control">
    <label for="text">Fecha de Ingreso</label>
    <input
       type="text"
       name="fecha_Entrada"
       id="fechaEntrada"
       placeholder="Ingrese fecha de Ingreso"
       class="form-control"
       [(ngModel)] = "fecha_Entrada"
       />
   </div>

   <div class="form-control">
    <label for="text">Fecha de Egreso</label>
    <input
       type="text"
       name="fecha_Salida"
       id="fechaSalida"
       placeholder="Ingrese fecha de Egreso"
       class="form-control"
       [(ngModel)] = "fecha_Salida"
       />
   </div>

   <div class="form-control">
    <label for="text">Localidad</label>
    <input
       type="text"
       name="localidad"
       id="localidad"
       placeholder="Ingrese localidad de la Empresa"
       class="form-control"
       [(ngModel)] = "localidad"
       />
   </div>

   <div class="form-control">
    <label for="text">Pais</label>
    <input
       type="text"
       name="pais"
       id="pais"
       placeholder="Ingrese Pais de la Empresa"
       class="form-control"
       [(ngModel)] = "pais"
       />
   </div>

   <div class="form-control">
    <label for="text">Subir Imagen</label>
    <input
       type="text"
       name="imagenDeEmpresa"
       id="imagenDeEmpresa"
       placeholder="Ingrese url de Imagen de la Empresa"
       class="form-control"
       [(ngModel)] = "imagen_De_Empresa"
       />
   </div>

   <!-- <input type="submit" class="btn btn-block"> -->
</form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="updateExperiencia()" data-bs-dismiss="modal" aria-label="Close">
          Guardar
       </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeEx()">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- fin modificar Experiencia -->


  <!-- add card experience-->
  <div class="section_experience_description_card" *ngFor="let item of myExperiencia">
        <div class="section_experience_description_details">
            <div class="section_experience_description_details__img">
                <img src="./assets/backend Developer.png" alt="business logo" >
            </div>
            <div>
                <h2>{{item.descripcionTrabajo}}</h2>
                <p>{{item.nombre_Empresa}} - {{item.tipo_Jornada}}</p>
                <p>{{item.fecha_Entrada}} - {{item.fecha_Salida}}</p>
                <p>{{item.localidad}}, {{item.pais}}</p>
            </div>
        </div>

        <div>
            <button class="btn bg-light-50 "
            (click)="editExperience(item.id)"
            data-bs-toggle="modal"
            data-bs-target="#updateExperience">
              <img src="./assets/edit-pen.png" alt="pen-solid">
          </button>
            <button class="btn bg-light-50 " (click)="delExperience(item.id)"><img src="./assets/del_icon.png" alt="pen-solid"></button>
        </div>
  </div>
  <!-- end add card experience -->


<hr>


  <!-- add card education-->
  <div class="section_education_title">
      <h2>Educación</h2>
          <!-- Button trigger modal -->
      <button class="btn bg-light-50 " data-bs-toggle="modal" data-bs-target="#exampleModal4">
            <img src="./assets/add_icon.png" alt="pen-solid">
        </button>
  </div>

  <!-- Modal -->
<div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel4" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel4">Agregar nueva Educación</h5>

      </div>
      <div class="modal-body">

        <form
        class="add-form"
        (ngSubmit)="createNewEducation()"
        >
        <div class="form-control">
          <label for="text">Nombre de la Institución</label>
        <input
            type="text"
            name="nombreInstitucion"
            id="nombreInstitucion"
            placeholder="Ingrese nombre de la institución"
            [(ngModel)] = "nombre_Institucion"
            class="form-control"
            />
        </div>

        <div class="form-control">
          <label for="text">Nombre de la Carrera</label>
        <input
            type="text"
            name="nombreCarrera"
            id="nombreCarrera"
            placeholder="Ingrese nombre de la Carrera"
            [(ngModel)] = "nombre_Carrera"
            class="form-control"
            />
        </div>

        <div class="form-control">
          <label for="text">Fecha de Inicio</label>
        <input
            type="text"
            name="fechaInicio"
            id="fechaInicio"
            placeholder="Ingrese fecha de Inicio"
            [(ngModel)] = "fecha_Inicio"
            class="form-control"
            />
        </div>

        <div class="form-control">
          <label for="text">Fecha de finalización</label>
        <input
            type="text"
            name="fechaFin"
            id="fechaFin"
            placeholder="Ingrese fecha de Finalización"
            [(ngModel)] = "fecha_Fin"
            class="form-control"
            />

            <div class="form-control">
              <label for="text">Imagen de la Institución</label>
            <input
                type="text"
                name="imagenDeInstitucion"
                id="imagenDeInstitucion"
                placeholder="Ingrese nombre de la institución"
                [(ngModel)] = "imagen_De_Institucion"
                class="form-control"
                />
            </div>
        </div>


      </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="createNewEducation()" data-bs-dismiss="modal">Guardar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


   <!-- add card education first-->
   <div class="section_education_description_card " *ngFor="let item of myEducacion">
      <div class="section_education_description_details">
          <div class="section_education_description_details__img">
              <img src="./assets/logo_utn.png" alt="utn logo" >
          </div>
          <div>
              <h2>{{item.nombre_Institucion}}</h2>
              <p>{{item.nombre_Carrera}}</p>
              <p>{{item.fecha_Inicio}} - {{item.fecha_Fin}}</p>
          </div>
      </div>

      <div>
        <button class="btn bg-light-50 " data-bs-toggle="modal" data-bs-target="#exampleModal5" (click)="editEdu(item.id)">
          <img src="./assets/edit-pen.png" alt="pen-solid">
      </button>

      <button class="btn bg-light-50 " (click)="deleteEdu(item.id)"><img src="./assets/del_icon.png" alt="pen-solid"></button>
      </div>
  </div>
<!-- Modal -->
<div class="modal fade"
id="exampleModal5"
tabindex="-1"
aria-labelledby="exampleModalLabel5"
aria-hidden="true"
data-bs-backdrop="static"
data-bs-keyboard="false"
aria-labelledby="staticBackdropLabel"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel5">Modificar Educación</h5>

      </div>
      <div class="modal-body">

        <!-- modificacion de Educacion -->
        <form
        class="add-form"
        (ngSubmit)="updateEdu()"
        >
        <div class="form-control">
          <label for="text">Nombre de la Institución</label>
        <input
            type="text"
            name="nombreInstitucion"
            id="nombreInstitucion"
            placeholder="Ingrese nombre de la institución"
            [(ngModel)] = "nombre_Institucion"
            class="form-control"
            />
        </div>

        <div class="form-control">
          <label for="text">Nombre de la Carrera</label>
        <input
            type="text"
            name="nombreCarrera"
            id="nombreCarrera"
            placeholder="Ingrese nombre de la Carrera"
            [(ngModel)] = "nombre_Carrera"
            class="form-control"
            />
        </div>

        <div class="form-control">
          <label for="text">Fecha de Inicio</label>
        <input
            type="text"
            name="fechaInicio"
            id="fechaInicio"
            placeholder="Ingrese fecha de Inicio"
            [(ngModel)] = "fecha_Inicio"
            class="form-control"
            />
        </div>

        <div class="form-control">
          <label for="text">Fecha de finalización</label>
        <input
            type="text"
            name="fechaFin"
            id="fechaFin"
            placeholder="Ingrese fecha de Finalización"
            [(ngModel)] = "fecha_Fin"
            class="form-control"
            />

            <div class="form-control">
              <label for="text">Imagen de la Institución</label>
            <input
                type="text"
                name="imagenDeInstitucion"
                id="imagenDeInstitucion"
                placeholder="Ingrese nombre de la institución"
                [(ngModel)] = "imagen_De_Institucion"
                class="form-control"
                />
            </div>
        </div>


      </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="updateEdu()" data-bs-dismiss="modal">Guardar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="close()">Cerrar</button>
      </div>
    </div>
  </div>
</div>

</section>
